/* Color Palette
#2a5626 - Hunter green
#94b082 - Olivine
#dda67e - Buff
#7c3a27 - Burnt umber
*/

/* Global styles 
------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
nav {
    background: #dda67e;
    margin-bottom: 5px;
}
.display {
    text-align: center;
    font-size: 0;
}
.display a {
    padding: 10px;
    display: inline-block;
    width: 20%;
    font-size: 16px;
    font-family: 'Playfair Display', Georgia, serif;
    background: #2a5626;
    color: #f1e8e4;
    text-decoration: none;
}
body {
    background: #2a5626;
    font-family: 'Source Sans 3', Arial, sans-serif;
    margin: 0;
}
h1 {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 50px;
}
h2 {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 30px;
    margin-top: 0;
}
h3 {
    font-size: 21px;
    font-style: italic;
}
p {
    font-size: 20px;
}
ul {
    font-size: 18px;
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}
header .content-wrap {
  display: flex;
}
header h1, header h2 {
    margin-top: 0;
    margin: 0;
}
.contact-info a{
    padding: 10px;
    display: inline-block;
    font-size: 35px;
    color: #f1e8e4;
}
img {
    width: 300px;
    height: 300px;
    margin-right: 50px;
}


/* Header & Footer 
------------------------------------*/
header {
    background: #94b082;
}
.column-narrow {
    width: 30%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
}
.column-wide {
    width: 70%;
    float: left;
    min-height: 225px;
}

footer {
    text-align: center;
    color: #f1e8e4;
}
.image-bg {
    background: url(../images/matrix2.jpg);
    background-attachment: fixed;
}
.alpha-bg {
    background: rgba(2, 198, 103, 0.447);
}

.profile-img {
    /* width: 300px; */
    border-radius: 50%;
    /* float: left; */
    /* margin-right: 30px; */
}

/* Work Experience
------------------------------------*/
#work {
    background: #dda67e;
}


/* Education
------------------------------------*/
#education {
    background: #7c3a27;
    color: #f1e8e4;
}
